@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:'Helvetica Neue',system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  position: fixed;
}